.login-view {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/drop_bg.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .connect-box {
    width: 500px;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 48px;
    p {
      font-family: OtherFont;
      font-size: 18px;
      font-weight: 600;
    }
    button {
      width: 300px;
      height: 48px;
      border: 0;
      padding-top: 12px;
      div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      margin-top: 70px;
      border-radius: 8px;
      font-size: 16px;
      img {
        width: 28px;
        height: 28px;
        margin-right: 12px;
      }
    }
  }
}
