.index-view {
  width: 100%;
  height: 100vh;
  display: flex;
  .menu-mine {
    width: 240px;
    background-color: #001529;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s all;
    .logo-pic {
      width: 124px;
      height: 32px;
      margin: 24px 0;
    }
    .logo-small {
      width: 32px;
      height: 32px;
      margin: 24px auto;
      display: none;
    }
    .ant-menu-item-selected {
      background-color: #f50992;
    }
    .oper-menu {
      padding: 24px;
      span {
        color: white;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .close-menu {
    width: 80px;
    .logo-pic {
      display: none;
    }
    .logo-small{
        display: block;
    }
  }
  .route-view {
    flex: 1;
  }
}
